# MARCH MADNESS PREDICTOR

Authors: Connor Finn, Riley Greene <br>
Date: 1/24/20 <br>
Warren Buffet is still paying 1 billion for a perfect bracket

In [141]:
# our imports for the model
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup 
import lxml.html as lh

# a few constants
start_year = 2010

Because basketball has changed so much over the past years, we believe that data prior to the year 2010 could be detrimental to our model. For this reason, the next block of code will be used to slim the data down from the 1985 - 2018 seasons to a dataframe including the the 2020 - 2018 NCAA tournaments.

In [142]:
# read ncaa tournament results into dataframe ( data obtained from Kaggle)
ncaa_total = pd.read_csv('NCAATourneyCompactResults.csv')  
# read team ID dataframe (from Kaggle)
team_data = pd.read_csv('teams.csv')  
# get the first index for the desired year
start = min(ncaa_total[ncaa_total.iloc[:,0] == start_year].index.values.astype(int)) 
# shorten our dataframe
ncaa_short = ncaa_total.iloc[start: , :]

The team_id provides names written as 'Penn State'. The data we will be collecting is from Sports-reference.com. The url for penn state's data is 'https://www.sports-reference.com/cbb/schools/penn-state/2020.html' <br>
1) the name needs to be adjusted to no spaces, all lower caps <br>
2) the overall framework is 'https://www.sports-reference.com/cbb/schools/NAME/YEAR.html'<br>

In [143]:
"""
* this function will be used to transform a provided name to one that can be input into a sports-reference url
* this will likely need to be adjusted as new teams are included
* THIS NEEDS A UNIT TEST (i.e. run all our team names through once to see if they pass)
"""
def clean_team_name(name):
    # name: string
    team = name
    team = team.lower()
    team = team.replace(' ' , '-')
    team = team.replace('(' , '')
    team = team.replace(')' , '')
    team = team.replace('.' , '')
    team = team.replace( "'" , '')
    team = team.replace("&" , "")
    team = team.replace("university-of-" , "") 
    return team
def test_team_names(team_names):
    # team_names: list of strings 
    errors = 0
    for name in team_names:
        url_test =  "https://www.sports-reference.com/cbb/schools/" + name + "/"
        try:
            pageWL = requests.get(url_test)
        except:
            print(name , " did not return a valid search criteria")
            errors += 1
    print("finished unit test. There were " , errors , " errors.")
    return errors

team_data is a dataframe which has the columns: 'TeamID', 'TeamName', 'FirstD1Season', 'LastD1Season'.  We want to create a new column which has the team names in accordance to the sports-reference.com framework.

In [144]:
# get a list of all the team names in our dataframe
team_names = team_data.TeamName.values.tolist()
# clean every name in the team_data dataframe
sr_names = []
for name in team_names:
    sr_names += [clean_team_name(name)]
# run the test: if no error messages show up, then we add the list to dataframe
num_errors = test_team_names(sr_names)
#num_errors = 0
if num_errors ==0:
    team_data["SrNames"] = sr_names

Goal: compile season long data for the teams who competed in the 2010 - 2018 NCAA tournaments. The idea is that the season long data is the information we will have in the future for creating predictions.<br>
- in the ncaa_short, we have the year the game was played, and the id's of both teams
- in team_data we have the team id, along with the team name (cleaned for sports-reference use).

In [145]:
# get arrays which include the team years and id's 
winner_array = np.vstack((ncaa_short.Season.values , ncaa_short.WTeamID.values ))
loser_array = np.vstack((ncaa_short.Season.values , ncaa_short.LTeamID.values))

# List of years
years = ncaa_short.Season.unique()

# the below loop will create a 2 x n array of all unique teams (year , school_id) which competed in NCAA's
all_teams = np.empty((2,0)) # fill this array
for year in years:
    temp_1 = ncaa_short.WTeamID.loc[(ncaa_short.Season == year)].append(ncaa_short.LTeamID.loc[(ncaa_short.Season == year)]).unique()
    temp_2 = np.full(shape = len(temp_1), fill_value = year , dtype = np.int)
    temp_3 = np.vstack((temp_2 , temp_1)) 
    all_teams = np.hstack((all_teams , temp_3)) # fill array

(2, 609)

We now want to build a dataframe which has a list of the teams and their season long statistics. <br> 
all_teams is now a 2xn array of unique teams (year, school_id). We will gain access to the team name using: <br>
- team_name = team_data.SrNames.loc[(team_data.TeamID == INSERT TEAM ID HERE)].values.tolist()[0]

In [158]:
# this will collect the season data for every team we selected in the list, for the number of indicated years
seasonStats = pd.DataFrame()   # start with an empty dataframe

for i in range(all_teams.shape[1]):   # this is the years 
	team_name = team_data.SrNames.loc[(team_data.TeamID == all_teams[1 , i])].values.tolist()[0] # get the team Name
	url3 = "https://www.sports-reference.com/cbb/schools/" + team_name + "/" + str(int(all_teams[0 , i])) + ".html" # season data
	pageSe = requests.get(url3)   # scrape
	soupSe = BeautifulSoup(pageSe.content, "lxml")   # parse
	tablesSe = soupSe.findAll('table')    # search for tables 
	# convert to a dataframe and label the data
	print("Team number " ,  i)   # this shows progress
	dfSe = pd.read_html(str(tablesSe[1]))[0]      # select the table of interest into a pandas dataframe
	dfSe.drop([1 , 2, 3] , inplace=True)	      # only want the team data. (although might consider fouls against too)
	dfSe = dfSe.replace('Team' , powerSixTeams[j])   # want the name of the team 
	numRows = len(dfSe.index) # get the number of rows...... should just be one here
	dfSe['Team_ID'] = powerSixTeamID[j]        # put in the team ID's
	dfSe['Conf_ID'] = powerSixTeamsAndConf[j][1]        # put in the conference ID's  
	dfSe['Conf'] = powerSixConf[powerSixTeamsAndConf[j][1] - 1]       # put in the team's conference
	currYear = [i] * numRows  ## get the correct number 
	dfSe['Date'] = currYear   # only want the year in this column
	seasonStats = seasonStats.append(dfSe , ignore_index=True) # add this to the season stats empty dataframe we started with 
	seasonStats = seasonStats.rename(columns={'Unnamed: 0': 'Team'})  # simply clean up the columns

ConnectionError: HTTPSConnectionPool(host='www.sports-reference.com', port=443): Max retries exceeded with url: /cbb/schools/ark-pine-bluff/2010.html (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x116b1c128>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known'))

We are interested in using a regression ML model. To do this, we need to have a continuous solution (i.e. not win or lose) So I will assign a scoreDiff

In [146]:
ncaa_short['ScoreDiff'] = ncaa_short['WScore'] - ncaa_short['LScore']

/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [147]:
ncaa_short

      Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT  ScoreDiff
1584    2010     134     1115      61     1457      44    N      0         17
1585    2010     136     1124      68     1358      59    N      0          9
1586    2010     136     1139      77     1431      59    N      0         18
1587    2010     136     1140      99     1196      92    N      2          7
1588    2010     136     1242      90     1250      74    N      0         16
1589    2010     136     1243      82     1317      62    N      0         20
1590    2010     136     1246     100     1190      71    N      0         29
1591    2010     136     1293      66     1435      65    N      0          1
1592    2010     136     1307      62     1285      57    N      0          5
1593    2010     136     1320      69     1424      66    N      0          3
1594    2010     136     1325      97     1207      83    N      0         14
1595    2010     136     1330      51     1323      50    N      0          1
1596    2010     136     1388      80     1350      71    N      0          9
1597    2010     136     1397      62     1361      59    N      0          3
1598    2010     136     1437      73     1352      70    N      1          3
1599    2010     136     1448      81     1400      80    N      1          1
1600    2010     136     1449      80     1266      78    N      0          2
1601    2010     137     1143      77     1257      62    N      0         15
1602    2010     137     1165      78     1396      65    N      0         13
1603    2010     137     1181      73     1115      44    N      0         29
1604    2010     137     1210      64     1329      59    N      0          5
1605    2010     137     1211      67     1199      60    N      0          7
1606    2010     137     1268      89     1222      77    N      0         12
1607    2010     137     1277      70     1308      67    N      0          3
1608    2010     137     1281      86     1155      78    N      0          8
1609    2010     137     1326      68     1364      51    N      0         17
1610    2010     137     1338      89     1324      66    N      0         23
1611    2010     137     1345      72     1373      64    N      0          8
1612    2010     137     1393      79     1436      56    N      0         23
1613    2010     137     1401      69     1429      53    N      0         16
...      ...     ...      ...     ...      ...     ...  ...    ...        ...
2154    2018     138     1211      90     1326      84    N      0          6
2155    2018     138     1242      83     1371      79    N      0          4
2156    2018     138     1246      95     1138      75    N      0         20
2157    2018     138     1260      63     1397      62    N      0          1
2158    2018     138     1276      64     1222      63    N      0          1
2159    2018     138     1403      69     1196      66    N      0          3
2160    2018     138     1437      81     1104      58    N      0         23
2161    2018     139     1155      84     1120      53    N      0         31
2162    2018     139     1199      75     1462      70    N      0          5
2163    2018     139     1243      50     1420      43    N      0          7
2164    2018     139     1305      75     1153      73    N      0          2
2165    2018     139     1345      76     1139      73    N      0          3
2166    2018     139     1393      55     1277      53    N      0          2
2167    2018     139     1401      86     1314      65    N      0         21
2168    2018     139     1452      94     1267      71    N      0         23
2169    2018     143     1199      75     1211      60    N      0         15
2170    2018     143     1243      61     1246      58    N      0          3
2171    2018     143     1260      69     1305      68    N      0          1
2172    2018     143     1276      99     1401      72    N      0         27
2173    2018     144     1181      69     1393      65    N      0          4
2174    2018     144     1242      80     1155      76    N      0          4
2175    2018     144     1403      78     1345      65    N      0         13
2176    2018     144     1437      90     1452      78    N      0         12
2177    2018     145     1260      78     1243      62    N      0         16
2178    2018     145     1276      58     1199      54    N      0          4
2179    2018     146     1242      85     1181      81    N      1          4
2180    2018     146     1437      71     1403      59    N      0         12
2181    2018     152     1276      69     1260      57    N      0         12
2182    2018     152     1437      95     1242      79    N      0         16
2183    2018     154     1437      79     1276      62    N      0         17

[600 rows x 9 columns]